/* Warning: very specific css selectors ahead. */

#wp_tv_template_viewer {
	font-family: sans-serif;
	font-size: 17px; /* todo: do we need this */
	background-color:#4b4b4b;
	line-height: 1.5;
	color: #FFF;
	width:100%;
}

#wp_tv_template_viewer .wp_tv_file_list {
	padding:1em;
}

#wp_tv_template_viewer #wp_tv_code_container #wp_tv_code_title {
	background: #333;
	padding: 1em;
}

#wp_tv_template_viewer,
#wp_tv_template_viewer #wp_tv_code_container #wp_tv_code_title p,
#wp_tv_template_viewer .wp_tv_file_list p {
	padding: 0;
	margin: 0;
}

#wp_tv_template_viewer .wp_tv_file_list .wp_tv_file_list_title strong,
#wp_tv_template_viewer #wp_tv_code_container #wp_tv_code_title p strong {
	font-weight: bold;
}

#wp_tv_template_viewer #wp_tv_code_container pre {
    background: none repeat scroll 0 0 #f5f5f5;
    color: #666;
    font-family: monospace;
    font-size: 14px;
    margin: 0;
    overflow: auto;
    padding: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    -moz-hyphens: none;
}

#wp_tv_template_viewer #wp_tv_files_footer {
	list-style: none outside none;
	padding: 1em 0 0 0;
	margin: 0;
	line-height: 1.5;
}

#wp_tv_template_viewer #wp_tv_files_footer a {
	text-decoration: underline;
}


#wp-admin-bar-wp_tv_template_files #wp_tv_files li,
#wp_tv_template_viewer #wp_tv_files_footer a {
	color: #fff;
}

#wp-admin-bar-wp_tv_template_files #wp_tv_files .wp_tv_plugin,
#wp-admin-bar-wp_tv_template_files #wp_tv_files .wp_tv_plugin a,
#wp_tv_template_viewer #wp_tv_files_footer .wp_tv_plugin,
#wp_tv_template_viewer #wp_tv_files_footer .wp_tv_plugin a {
	color: LightGoldenRodYellow; /* wow */
}

#wp-admin-bar-wp_tv_template_files #wp_tv_files .wp_tv_theme.wp_tv_current,
#wp-admin-bar-wp_tv_template_files #wp_tv_files .wp_tv_theme.wp_tv_current a,
#wp_tv_template_viewer #wp_tv_files_footer .wp_tv_theme.wp_tv_current,
#wp_tv_template_viewer #wp_tv_files_footer .wp_tv_theme.wp_tv_current a {
	color: LawnGreen;
}

/* only use :hover color if Javascript is available. (JS adds links) */
#wp-admin-bar-wp_tv_template_files.wp_tv_js #wp_tv_files .wp_tv_plugin:hover,
#wp-admin-bar-wp_tv_template_files.wp_tv_js #wp_tv_files .wp_tv_theme:hover,
#wp-admin-bar-wp_tv_template_files.wp_tv_js #wp_tv_files .wp_tv_plugin a:hover,
#wp-admin-bar-wp_tv_template_files.wp_tv_js #wp_tv_files .wp_tv_theme a:hover,
#wp_tv_template_viewer.wp_tv_js #wp_tv_files_footer a:hover {
	color: #2ea2cc;
}

#wp-admin-bar-wp_tv_template_files #wp_tv_files .wp_tv_plugin .ab-item,
#wp-admin-bar-wp_tv_template_files #wp_tv_files .wp_tv_plugin a .ab-item,
#wp-admin-bar-wp_tv_template_files #wp_tv_files .wp_tv_theme .ab-item,
#wp-admin-bar-wp_tv_template_files #wp_tv_files .wp_tv_theme a .ab-item {
	color: inherit;
}